<style>

/* 
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
</style>
<slider-component class="slider-mobile-gutter">
  <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
    {{ "accessibility.skip_to_product_info" | t }}
  </a>


  <div class="gallery-container">
    
    <div class="product__media-list gridd grid--peek list-unstyled qv-product-main-images" role="list">
      {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
      {%- if product.selected_or_first_available_variant.featured_media != null -%}
      {%- assign media = product.selected_or_first_available_variant.featured_media -%}
      <div class="slide product__media-item grid__item" data-media-id="{{ section.id }}-{{ media.id }}">
        {% render 'product-thumbnail', media: media, position: 'featured', loop: true, modal_id: product.id, xr_button: false %}
      </div>
      {%- endif -%}
      {%- for media in product.media -%}
      {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
      <div class="slide product__media-item grid__item " data-media-id="{{ section.id }}-{{ media.id }}">
        {% render 'product-thumbnail', media: media, position: forloop.index, loop: false, modal_id: product.id, xr_button: false %}
      </div>
      {%- endunless -%}
      {%- endfor -%}
    </div>


    <div class="qv-product-thumb-images slider-nav product__media-list grid grid--peek list-unstyled" role="list">
      {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}

      {%- for media in product.media -%}
      {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
      <div class="product__media-item slide" data-media-id="{{ section.id }}-{{ media.id }}">
        {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, hide_icon: true %}
      </div>
      {%- endunless -%}
      {%- endfor -%}
    </div>       
    
  </div>


</slider-component>


<script>

</script>