
<div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
  {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
  <div class="ruk_rating_snippet" data-sku="{{ product.handle }};{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}"></div>

</div> 

{%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
<div class="product__tax caption rte">
  {%- if shop.taxes_included -%}
  {{ 'products.product.include_taxes' | t }}
  {%- endif -%}
  {%- if shop.shipping_policy.body != blank -%}
  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
  {%- endif -%}
</div>
{%- endif -%}
<div {{ block.shopify_attributes }}>
  {%- form 'product', product, id: 'product-form-installment_'product.id, class: 'installment caption-large' -%}
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
  {{ form | payment_terms }}
  {%- endform -%}
</div>


{%- if product.description != blank -%}
<div class="ProductMeta_Description small__heightt bottomImg" {{ block.shopify_attributes }}>
  <div class="product__description short_des rte">
    <p>  {{ product.description | strip_html | truncate: 150}}</p>
  </div>
  <div class="product__description long_des hide rte">
    {{ product.description }}
  </div>
  <div class="des_bottom_div">
    <div class="dec-overlayy"></div>
  
  </div>
  <a class="view-product" href="{{product.url}}"><span>Learn More</span></a>
  <hr />
</div>
{%- endif -%}