{% comment %}
<div class="swiper qv_img_slider">
  <div class="qv-product-images swiper-wrapper"></div>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>

</div>

<div class="qy-Img-section qv-product-images">
<div class="qv-product-main-images"></div>
<div class="qv-product-thumb-images slider-nav"></div>
</div>

<div class="qv-content">
    <div class="holder"> 
      
       <span class="badge badge--bottom-left qv_price__badge-new color-{{ settings.sale_badge_color_scheme }}">
          {{ 'products.product.new' | t }}
        </span>
      {% comment %}
       <span class="badge badge--bottom-left qv_price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
          {{ 'products.product.on_sale' | t }}
        </span>
      {% endcomment %}
      
      
      <h4 class="qv-product-vendor"></h4>
        <h3 class="qv-product-title"></h3> 
      <div class="product-price-cont">
      <h5 class="qv-product-price"></h5>
        <h5 class="qv-product-original-price"></h5>
      </div>
       
       <div class="qv-product-description"></div>
       <a class="view-product hide" href=""><span>Learn More</span></a>
        <hr />
     
        <div class="qv-add-to-cart">
            <div class="qv-product-options"></div>
<!--             <div class="quantity">
                <span>Quantity</span>
                <input type="number" class="qv-quantity" value="1" min="1">
            </div> -->
          
          <div class="qty-threshold">
            <div class="qty">
          <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input qv-quantity"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
           <p>Minimum quantity of 4</p>
            </div>
          <div class="threshold">

            {% assign cartTotal = cart.total_price %}
            {% assign cartthreshhold = settings.freeshipping | times:100.00 %}
            {% assign percentmainvalue = cartTotal | divided_by: cartthreshhold %}
            {% assign mainPercent = percentmainvalue | times: 100.00 %}
            {% assign needAmmount = cartTotal  | minus: cartthreshhold %}
            <style>
              .w3-light-grey{
                color: #000!important;
                background-color: #f1f1f1!important;
                margin: 10px 0;
              }
              .w3-green, 
              .w3-hover-green:hover {
                color: #fff!important;
                background-color: #F5694D!important;
                height:6px;

              }
              .progress-warp {
                margin: 30px 20px;
                text-align:center;
                overflow:hidden;
              }
            </style>
            <div class="progress-warp" threshold="{{cartthreshhold}}">

              <div class="w3-light-grey">
                <div id="precentfill" class="w3-green" style="width:{{mainPercent}}%"></div>
              </div>

              {% comment %}
              <div> <span class="progress-bar-money">{% if cartTotal >= cartthreshhold %}{{cartthreshhold | money }} {{ 'general.cart.eligible' | t }} {% else %} {{ 'general.cart.spend' | t: needAmmount: needAmmount | money |remove:'-' }}{% endif %}</span> FREE SHIPPING!</div>

              {% endcomment %}
              <div> <span id="textmsg" class="progress-bar-money">
                {% if cartTotal >= cartthreshhold %}{{cartthreshhold | money }} Done, You are eligible for {% else %}Spend {{  needAmmount | money |remove:'-' }} more to receive{% endif %}
                </span> FREE SHIPPING!</div>
            </div>

          </div>
          </div>

          
          <div class="divider-con">
            <input type="submit" class="qv-add-button product-form__submit button button--full-width button--secondary" value="Add to Cart">
            <div class="qvswym">
            
</div>
          </div><div class="qv-add-to-cart-response"></div>
        </div>
       
    </div>
   
</div>
{% endcomment %}



{%- assign quickshopFirstVariant = itemType.selected_or_first_available_variant -%}
{%- assign quickshopquickshopFirstVariantImage = quickshopFirstVariant.featured_image | default: itemType.featured_image -%}
{%- assign quickshopProductQuantityOption = settings.quickshop-product-quantity-option -%}
{%- assign quickshopProductEmailLink = settings.quickshop-product-email-link -%}
{%- assign quickshopImageBorders = settings.image-borders -%}
{%- assign quickshopBrandNames = settings.show-brand-names -%}
{%- assign quickshopProductQuickAdd = settings.quickshop-product-quick-add -%}

<div id="quick-shop-{{ itemType.id }}"
  class="quick-shop-content clearfix"
  data-product-quick-add="{{ quickshopProductQuickAdd }}"
  {% if itemType.options.size == 1 %}data-option="{{ itemType.options.first | escape }}"{% endif %}>

  <div class="showcase {% if itemType.images.size == 1 %}wide{% endif %}">
    <div class="container {% if itemType.images.size == 1 or settings.quickshop-thumb-orientation == 'below' %}wide{% endif %}">
      <div class="wrap">
        <img alt="{{ quickshopquickshopFirstVariantImage.alt }}" src="{{ quickshopquickshopFirstVariantImage | product_img_url: 'large' }}">
        {% if quickshopImageBorders %}<span class="overlay"></span>{% endif %}
      </div>
    </div>

    {% if itemType.images.size > 1 %}
      <div class="pager {% if settings.quickshop-thumb-orientation == 'below' %}below-main-image{% endif %}">
        <div class="inner">
          {% for image in itemType.images %}
            <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
              <img alt="{{ image.alt }}" src="{{ image.src | product_img_url: 'small' }}" data-high-res-url="{{ image.src | product_img_url: 'large' }}">
              <span class="overlay"></span>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if quickshopProductEmailLink %}
      <div class="notes">
        <a href="mailto:{{ shop.email }}?subject={{ itemType.title | escape }}" class="email-us">
          <span class="icon">j</span>{{ 'products.product.email_us' | t }}
        </a>
      </div>
    {% endif %}
  </div>

  <div class="product-details-wrapper {% if itemType.variants.size == 1 and quickshopProductQuantityOption == false %}no-options{% endif %}">

    <div class="module header">
      <span class="close-modal">v</span>
      {% if quickshopBrandNames %}
        <p class="brand">{{ itemType.vendor }}</p>
      {% endif %}
      <p class="title"><a href="{{ itemType.url | within: collection }}">{{ itemType.title }}</a></p>
      {% if itemType.compare_at_price_min > itemType.price_min %}
        <p class="price sale"><span class="original money">{{ itemType.compare_at_price_min | money }}</span> <span class="money">{{ itemType.price_min | money }}</span></p>
      {% else %}
        <p class="price"><span class="money">{{ itemType.price_min | money }}</span></p>
      {% endif %}
    </div>

    {% assign qs_form_id = itemType.id %}

    <form class="module options quick-shop-form {% unless itemType.available %}unavailable{% endunless %}" action="/cart/add" method="post" id="quick-shop-form-{{ itemType.id }}" data-quickshop-form="{{ qs_form_id }}" data-product-id="{{ itemType.id }}">

      {% if itemType.available %}

        {% if itemType.variants.size > 1 %}
          <div class="product-options">
            {% include 'quickshop-options-dropdown' %}

            <div class="selector-wrapper no-js-required">
              <label for="product-select-{{ qs_form_id }}"></label>
              <select
                class="product-select"
                name="id"
                id="product-select-{{ qs_form_id }}">
                {% for variant in itemType.variants %}
                  {% if variant.available %}
                    <option
                      {% if variant == selected_variant %}selected="selected"{% endif %}
                      value="{{ variant.id }}" data-sku="{{ variant.sku }}">
                      {{ variant.title }} - {{ variant.price | money }}
                    </option>
                  {% else %}
                    <option disabled="disabled" value="{{ variant.id }}">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        {% else %}
          <input
            class="product-select"
            name="id"
            value="{{ itemType.variants[0].id }}"
            type="hidden"
            data-variant-title="{{ itemType.variants[0].title }}" />
        {% endif %}

        {% if quickshopProductQuantityOption %}
          <div class="selector-wrapper quantity">
            <label>{{ 'general.quantity' | t }}</label>
            <input type="text" name="quantity" class="product-quantity field" value="1">
          </div>
        {% else %}
          <input type="hidden" name="quantity" class="product-quantity field" value="1">
        {% endif %}

        	<!-- Trigger/Open The Modal -->
			<div class="selector-wrapper">
                  <input type="submit" id="myBtn" class="action-button submit" value="{{ 'products.product.add_to_cart' | t }}">
                </div>
             

        <div class="error-wrap"></div>

      {% else %}

        <span class="action-button unavailable disabled">{{ 'products.product.sold_out' | t }}</span>

      {% endif %}

    </form>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>{{ product.title }} has been added to your cart.</p>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
    <div class="module description">
      {% if itemType.description.size > 0 %}
        <div class="rte special">{{ itemType.description }}</div>
      {% endif %}
      <a class="go-to-product" href="{{ itemType.url | within: collection }}">{{ 'products.product.visit_page' | t }} <span>→</span></a>
    </div>

  </div>

  {% assign add_to_cart_text = 'products.product.add_to_cart' | t %}
{%comment %}
  {%
    include 'quickshop-json',
    id: itemType.id,
    add_to_cart_text: add_to_cart_text,
    enable_history: true
  %}
{% endcomment %}

<style>
/* The Modal (background) */
.modal {
    display:none;
    width: 70%; /* Full width */
    height: auto; /* Full height */
    background-color: white;
}

/* Modal Content */
.modal-content {
    background-color: white;
    padding: 0px 5px 0px 5px;
    border: 0.7px solid grey;
    width: 100%;
}

/* The Close Button */
.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
  
  
</div>

<script>
  Theme.products["{{ itemType.id }}"] = {{ itemType | json }};
</script>