{% comment %}
<div class="swiper qv_img_slider">
  <div class="qv-product-images swiper-wrapper"></div>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>

</div>
{% endcomment %}
<div class="qy-Img-section qv-product-images">
<div class="qv-product-main-images"></div>
<div class="qv-product-thumb-images slider-nav"></div>
</div>

<div class="qv-content">
    <div class="holder"> 
      
       <span class="badge badge--bottom-left qv_price__badge-new color-{{ settings.sale_badge_color_scheme }}">
          {{ 'products.product.new' | t }}
        </span>
      {% comment %}
       <span class="badge badge--bottom-left qv_price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
          {{ 'products.product.on_sale' | t }}
        </span>
      {% endcomment %}
      
      
      <h4 class="qv-product-vendor"></h4>
        <h3 class="qv-product-title"></h3> 
      <div class="product-price-cont">
      <h5 class="qv-product-price"></h5>
        <h5 class="qv-product-original-price"></h5>
      </div>
       
       <div class="qv-product-description"></div>
       <a class="view-product hide" href=""><span>Learn More</span></a>
        <hr />
     
        <div class="qv-add-to-cart">
            <div class="qv-product-options"></div>
<!--             <div class="quantity">
                <span>Quantity</span>
                <input type="number" class="qv-quantity" value="1" min="1">
            </div> -->
          
          <div class="qty-threshold">
            <div class="qty">
          <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input qv-quantity"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
           <p>Minimum quantity of 4</p>
            </div>
          <div class="threshold">

            {% assign cartTotal = cart.total_price %}
            {% assign cartthreshhold = settings.freeshipping | times:100.00 %}
            {% assign percentmainvalue = cartTotal | divided_by: cartthreshhold %}
            {% assign mainPercent = percentmainvalue | times: 100.00 %}
            {% assign needAmmount = cartTotal  | minus: cartthreshhold %}
            <style>
              .w3-light-grey{
                color: #000!important;
                background-color: #f1f1f1!important;
                margin: 10px 0;
              }
              .w3-green, 
              .w3-hover-green:hover {
                color: #fff!important;
                background-color: #F5694D!important;
                height:6px;

              }
              .progress-warp {
                margin: 30px 20px;
                text-align:center;
                overflow:hidden;
              }
            </style>
            <div class="progress-warp" threshold="{{cartthreshhold}}">

              <div class="w3-light-grey">
                <div id="precentfill" class="w3-green" style="width:{{mainPercent}}%"></div>
              </div>

              {% comment %}
              <div> <span class="progress-bar-money">{% if cartTotal >= cartthreshhold %}{{cartthreshhold | money }} {{ 'general.cart.eligible' | t }} {% else %} {{ 'general.cart.spend' | t: needAmmount: needAmmount | money |remove:'-' }}{% endif %}</span> FREE SHIPPING!</div>

              {% endcomment %}
              <div> <span id="textmsg" class="progress-bar-money">
                {% if cartTotal >= cartthreshhold %}{{cartthreshhold | money }} Done, You are eligible for {% else %}Spend {{  needAmmount | money |remove:'-' }} more to receive{% endif %}
                </span> FREE SHIPPING!</div>
            </div>

          </div>
          </div>

          
          <div class="divider-con">
            <input type="submit" class="qv-add-button product-form__submit button button--full-width button--secondary" value="Add to Cart">
            <div class="qvswym">
            
</div>
          </div><div class="qv-add-to-cart-response"></div>
        </div>
       
    </div>
   
</div>