{% comment %}
<variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
  {%- for option in product.options_with_values -%}
  <fieldset class="js product-form__input">
    <legend class="form__label">{{ option.name }}</legend>
    {%- for value in option.values -%}
    <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
           name="{{ option.name }}"
           value="{{ value | escape }}"
           form="{{ product_form_id }}"
           {% if option.selected_value == value %}checked{% endif %}
           >
    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
      {{ value }}
    </label>
    {%- endfor -%}
  </fieldset>
  {%- endfor -%}
  <script type="application/json">
                    {{ product.variants | json }}
  </script>
</variant-radios>


{% if product.options.size == 1 %}
  <script>
    var product_variants_removed = [
      {%- for variant in product.variants -%}
        {%- unless variant.available -%}
          '{{ variant.title }}',
        {%- endunless -%}
      {%- endfor -%}
    ];
  </script>
{% endif %}
{% endcomment %}



{% comment %}

<style>
.soldout label {
    color: red!important;
}
</style>


{% assign swatch = swatch-product-var %}
{% assign found_option = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
{% if option == swatch %}
{% assign found_option = true %}
{% assign option_index = forloop.index0 %}
{% endif %}
{% endfor %}



<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div class="option_title">{{ swatch }}</div>
{% assign values = '' %}
  
{% for variant in product.variants %}
{% assign value = variant.options[option_index] %}
    
{% unless values contains value %} 
{% assign values = values | join: ',' %}
{% assign values = values | append: ',' | append: value %}
{% assign values = values | split: ',' %}

<input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" 
       type="radio" 
       name="option-{{ option_index }}" 
       aria-label="{{ value | escape }}" 
       tabindex="0" 
       value="{{ value | escape }}"
       {% if forloop.first %} checked{% endif %} 
       />
  
<div tabindex="0"  value="{{ value | escape }}" data-value="{{ value | escape }}" data-id="{{ variant.id }}" class="swatch-element {{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">
  <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}">
    {{ value }}
    {% comment %}
    <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" aria-label="sold out" alt="sold out"/>
    {% endcomment %}
  </label>
</div>
  
{% endunless %}
  
{% endfor %}
  </div>

{% endcomment %}


{% assign swatch = swatch-product-var %}
{% assign found_option = false %}
{% assign option_index = 0 %}
{% assign selected_value = "" %}

{% for option in product.options %}
{% if option == swatch %}
{% assign found_option = true %}
{% assign option_index = forloop.index0 %}
{% assign downcased_option = swatch | downcase %}

{% endif %}
{% endfor %}



{% assign selected_value = product.selected_or_first_available_variant.title | split:"/" %}



<fieldset class="js product-form__input"  data-option-index="{{ option_index }}">
  <legend class="form__label">{{ swatch }}</legend>
  {% assign values = '' %}

  {% for variant in product.variants %}
  {% assign value = variant.options[option_index] %}

  {% unless values contains value %} 
  {% assign values = values | join: ',' %}
  {% assign values = values | append: ',' | append: value %}
  {% assign values = values | split: ',' %}


  {% assign strip_selected_val = selected_value[option_index] | strip %}

  <input type="radio" id="{{ section.id }}-{{ option_index }}-{{ forloop.index0 }}"
         name="{{ swatch }}"
         value="{{ value | escape }}" option-value="{{selected_value[option_index] | strip }}"
         form="{{ product_form_id }}"
         {% if strip_selected_val == value %}checked{% endif %}
         >
  <label for="{{ section.id }}-{{ option_index }}-{{ forloop.index0 }}">
    {{ value }}
  </label>

  {% endunless %}
  {%- endfor -%}
</fieldset>

