<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>
<script src="{{ 'vendor.js' | asset_url }}"></script>
    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  {% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
</head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    
    
    
    {{ tracking_code }}
    <script src="{{ 'custom-checkout.js' | asset_url }}"></script>
    
   

    <script>
      {% if request.locale.iso_code == 'zh-TW' %}
      $('form[data-shipping-method-form] .step__sections').append(
        `<div class="section section--shipping-method">
<div class="section__header">
<h2 class="section__title" id="main-header">
附加資訊
      </h2>
      </div>
<div class="section__content">
<div class="fieldset" data-note-fields="">
<div class="field"> 
<div class="field__input-wrapper">
<label class="field__label field__label--visible" for="checkout_note">Special Instructions for Order</label>
<textarea placeholder="訂單特別要求" class="field__input" autocomplete="off" rows="6" type="text" name="checkout[note]" id="checkout_note">{{ checkout.note }}</textarea>
      </div>
      </div>
      </div>
      </div>
      </div>`
      );
      {% else %}
      $('form[data-shipping-method-form] .step__sections').append(
        `<div class="section section--shipping-method">
<div class="section__header">
<h2 class="section__title" id="main-header">
Additional Information
      </h2>
      </div>
<div class="section__content">
<div class="fieldset" data-note-fields="">
<div class="field"> 
<div class="field__input-wrapper">
<label class="field__label field__label--visible" for="checkout_note">Special Instructions for Order</label>
<textarea placeholder="Special Instructions for Order" class="field__input" autocomplete="off" rows="6" type="text" name="checkout[note]" id="checkout_note">{{ checkout.note }}</textarea>
      </div>
      </div>
      </div>
      </div>
      </div>`
      );
      {% endif %}
    </script>
    
    
    

    
    
    
  </body>
</html>
