<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>
<script src="{{ 'vendor.js' | asset_url }}"></script>
    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  {% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
</head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    
    
    
    {{ tracking_code }}
    <script src="{{ 'custom-checkout.js' | asset_url }}"></script>
    
    <script>
      var stateObject = {
        "India": { 
          "Delhi": ["new Delhi", "North Delhi"],
          "Kerala": ["Thiruvananthapuram", "Palakkad"],
          "Goa": ["North Goa", "South Goa"],
        },
        "Australia": {
          "South Australia": ["Dunstan", "Mitchell"],
          "Victoria": ["Altona", "Euroa"]
        }, 
        "Canada": {
          "Alberta": ["Acadia", "Bighorn"],
          "Columbia": ["Washington", ""]
        },
        "Hong Kong": {
          "Kowloon": [
            "Kwai Tsing","North",
            "Tuen Mun","Yuen Long",
            "Sham Shui Po","Kwun Tong",
            "Wong Tai Sin","Tai Po",
            "Sha Tin","Islands",
            "Sai Kung","Yau Tsim Mong",
            "Tsuen Wan","Kowloon City",
            "Eastern","Central and Western",
            "Southern","Wan Chai","Hong Kong"
          ],
          "Hong Kong Island":["Kwai Tsing","North",
            "Tuen Mun","Yuen Long",
            "Sham Shui Po","Kwun Tong",
            "Wong Tai Sin","Tai Po",
            "Sha Tin","Islands",
            "Sai Kung","Yau Tsim Mong",
            "Tsuen Wan","Kowloon City",
            "Eastern","Central and Western",
            "Southern","Wan Chai","Hong Kong"],
          "New Territories":["Kwai Tsing","North",
            "Tuen Mun","Yuen Long",
            "Sham Shui Po","Kwun Tong",
            "Wong Tai Sin","Tai Po",
            "Sha Tin","Islands",
            "Sai Kung","Yau Tsim Mong",
            "Tsuen Wan","Kowloon City",
            "Eastern","Central and Western",
            "Southern","Wan Chai","Hong Kong"]
          
        },
        
      }
      window.onload = function () {
        var countySel = document.getElementById("checkout_shipping_address_country"),
            stateSel = document.getElementById("checkout_shipping_address_province"),
            districtSel = document.getElementById("checkout_shipping_address_city");
        for (var country in stateObject) {
          countySel.options[countySel.options.length] = new Option(country, country);
        }
        
        countySel.onchange = function () {
          stateSel.length = 1; // remove all options bar first
          districtSel.length = 1; // remove all options bar first
          if (this.selectedIndex < 1) return; // done 
          for (var state in stateObject[this.value]) {
            console.log(state);
            stateSel.options[stateSel.options.length] = new Option(state, state);
          }
        }
        
        countySel.onchange(); // reset in case page is reloaded
        stateSel.onchange = function () {
          districtSel.length = 1; // remove all options bar first
          if (this.selectedIndex < 1) return; // done 
          var district = stateObject[countySel.value][this.value];
//           console.log(district);
          
//           for (var i = 0; i < district.length; i++) {
//             console.log(district[i]);
//             districtSel.options[districtSel.options.length] = new Option(district[i], district[i]);
//           }
        }
        
        
        
        
        
        var select = document.createElement("select");
        select.name = "checkout[shipping_address][city]";
        select.id = "checkout_shipping_address_city"
        select.className = "field__input field__input--select"
        var district = stateObject[countySel.value]["Kowloon"];
        for (const val of district)
        {
          var option = document.createElement("option");
          option.value = val;
          option.text = val.charAt(0).toUpperCase() + val.slice(1);
          select.appendChild(option);
        }
        
        
        
        var label = document.createElement("label");
        label.innerHTML = "Choose your district: "
        label.htmlFor = "checkout_shipping_address_city"
        console.log(label);
        label.className ="field__label field__label--visible";

        
        document.querySelector('[data-address-field="city"]').innerHTML = '<div class="field__input-wrapper field__input-wrapper--select" id="city_container"></div>';
        console.log(label);
        document.getElementById("city_container").appendChild(label).appendChild(select);
        
      }
    </script>
    <div class="field field--required field--show-floating-label field--half" data-address-field="province" data-autocomplete-field-container="true">
      <div class="field__input-wrapper field__input-wrapper--select">
        <div id="container" class="additional"></div>
      </div>
    </div>
    <script>

//       window.onload = function () {
//         var values = ["dog", "cat", "parrot", "rabbit"];
//         var select = document.createElement("select");
//         select.name = "checkout[shipping_address][city]";
//         select.id = "checkout_shipping_address_city"
//         select.className = "field__input field__input--select"
        
//         for (const val of values)
//         {
//           var option = document.createElement("option");
//           option.value = val;
//           option.text = val.charAt(0).toUpperCase() + val.slice(1);
//           select.appendChild(option);
//         }
        
//         var label = document.createElement("label");
//         label.innerHTML = "Choose your district: "
//         label.htmlFor = "checkout_shipping_address_city";
//         console.log(label);
//         label.className ="field__labell field__label--visible";

//         document.getElementById("container").appendChild(label).appendChild(select);
//       }
    </script>
    
    
    
<!--     <form name="myform" id="myForm">
      Select Country: <select name="state" id="countySel" size="1">
      <option value="" selected="selected">Select Country</option>
      </select>
      <br>
      <br>
      Select State: <select name="countrya" id="stateSel" size="1">
      <option value="" selected="selected">Please select Country first</option>
      </select>
      <br>
      <br>
      Select District: <select name="district" id="districtSel" size="1">
      <option value="" selected="selected">Please select State first</option>
      </select><br>
      <input type="submit">
      <closeform></closeform>
    </form>
     -->
    
    
    
  </body>
</html>
