<!-- start static code -->
{% comment %}
this section HTML gose to minicart.liquid and minicart.liquid include in theme.liquid
{% endcomment %}
<style>

/* .minibag-mask {
  background: rgba(41, 41, 41, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: none; }

.mini-bag-container {
  position: relative; }

#mini-cart {
  background: #fff;
  top: 0;
  right: 0; 
  width: 380px;
  padding: 0;
  position: fixed;
  z-index: 9999;
  height: 100vh; transition: all .5s ease-in-out;}

.hide-minibag {
  transform: translateX(110%);
  visibility: hidden;
  width: 0 !important;
  overflow-x: hidden; }

.show-minibag {
  transform: translateX(0%);
  visibility: visible;
  overflow-x: hidden; }

.overflow-hidden {
  overflow: hidden; }

body.page-your-shopping-cart.overflow-hidden {
  overflow: hidden; }

body.page-your-shopping-cart {
  overflow: unset; }

#mini-cart .count-cross {
  position: relative; }

#mini-cart .count-cross .count {
  color: #161616;
  font-size: 16px;
  font-weight: 400; }

#mini-cart .count-cross .btn {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 9;
  cursor: pointer; }

#mini-cart .min-cart-items {
  overflow-y: auto; 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 5px;
}

#mini-cart .min-cart-item {
 width:100%;
  padding:0 5px;
  margin-bottom: 10px;
}
  
#mini-cart .td-image img {
  width: 100%;
  height: auto; }

.td-image .price {
    font-size: 1.3rem;
    line-height: 2rem;
}

  .td-image h2, .cart-item--remove-link {
    font-size: 1.1rem;
    height: 18px;
    line-height: 1.8rem;
    margin-top: 0px;
    text-transform: capitalize;
    color: #242020;
    margin-bottom:20px;
  }

#mini-cart .info .btn-remove {
  color: #242020;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 15px;
  font-weight: 300;
  margin-top: 6px; }

#mini-cart .subtotal {
  text-align: right;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%; }

#mini-cart .subtotal strong {
  font-weight: 500; }

#mini-cart .count, #mini-cart .subtotal, #mini-cart .buttons {
  padding: 10px; }

#mini-cart table tr, #mini-cart .count {
  border-bottom: 1px solid #ccc; }

#mini-cart .quantity-con {
  display: flex;
  margin-top: 11px; }

#mini-cart .quantity-con .quantity-val {
  border: 1px solid #ccc;
  padding: 5px; }

@media (max-width: 767px) {
  div#mini-cart {
    width: 100%; }
}

  a.btn.close-bag svg {
    fill: #5e5c5c;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
  .bottom-part a.button-custom.button {
    width: 100%;
}
  
  .td-image .buttons-div,  .td-image:hover h2, .td-image:hover .price{
  display:none;
  }
  .td-image:hover .buttons-div{
  display:block;
  } */
</style>

<div class="mini-cart-con" id="mini__Cart">
  <div class="count-cross">
    <div class="count" count="{{cart.item_count}}">
      {{cart.item_count}} item(s) in your cart
    </div>
    <a id="closeBag" class="btn close-bag pt-0" tabindex="0" href="javascript:void(0)" onclick="HideFunction()" >
      <svg class="svg-inline--fa fa-times fa-w-12" aria-hidden="true" data-fa-replacement="true" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M217.5 256l137.2-137.2c4.7-4.7 4.7-12.3 0-17l-8.5-8.5c-4.7-4.7-12.3-4.7-17 0L192 230.5 54.8 93.4c-4.7-4.7-12.3-4.7-17 0l-8.5 8.5c-4.7 4.7-4.7 12.3 0 17L166.5 256 29.4 393.2c-4.7 4.7-4.7 12.3 0 17l8.5 8.5c4.7 4.7 12.3 4.7 17 0L192 281.5l137.2 137.2c4.7 4.7 12.3 4.7 17 0l8.5-8.5c4.7-4.7 4.7-12.3 0-17L217.5 256z"></path></svg>
    </a>
  </div>

  {% assign product_id = 6685379985517 %}
{% if cart.item_count > 0 %}
  
  {% assign cartTotal = cart.total_price %}
  {% assign cartthreshhold = section.settings.freeshipping | times:100.00 %}
  {% assign percentmainvalue = cartTotal | divided_by: cartthreshhold %}
  {% assign mainPercent = percentmainvalue | times: 100.00 %}
  {% assign needAmmount = cartTotal  | minus: cartthreshhold %}
  <style>
    .w3-light-grey{
      color: #000!important;
      background-color: #f1f1f1!important;
      margin: 10px 0;
    }
    .w3-green, 
    .w3-hover-green:hover {
      color: #fff!important;
      background-color: #F5694D!important;
      height:6px;

    }
    .progress-warp {
      margin: 30px 20px;
      text-align:center;
    }
  </style>
  <div class="progress-warp">
    <p>Buy more, Save more</p>
    <div class="w3-light-grey">
      <div class="w3-green" style="width:{{mainPercent}}%"></div>
    </div>
    
    {% comment %}
      <div> <span class="progress-bar-money">{% if cartTotal >= cartthreshhold %}{{cartthreshhold | money }} {{ 'general.cart.eligible' | t }} {% else %} {{ 'general.cart.spend' | t: needAmmount: needAmmount | money |remove:'-' }}{% endif %}</span> FREE SHIPPING!</div>
 
    {% endcomment %}
    <div> <span class="progress-bar-money">{% if cartTotal >= cartthreshhold %}{{cartthreshhold | money }} Done, You are eligible for {% else %}Spend {{  needAmmount | money |remove:'-' }} more to receive{% endif %}</span> FREE SHIPPING!</div>
  </div>
  
  <div class="min-cart-items">

    {% for item in cart.items %}
     {% assign product_id = item.product_id %}
    <div itemid="{{product_id}}" class="min-cart-item" index="{{forloop.index}}">
      <div class="td-image cart__image">
        <img src="{{item.image | img_url: '100x100' }}" /> 
      </div>
      <div class="cart__item-details">
        <div class="cart__item-title">
          <div class="cart__item-title-left">
            <a href="{{item.product.url}}"><h2>{{item.product.title }}</h2></a>
            <p class="brand">Brand: {{item.vendor}}</p>
            <p class="size"><p>{{ item.variant.title | remove: removeTitle }}</p></p>
<!--           <div class="quantity-val">Qty: {{ item.quantity }}</div> -->
          
          <quantity-input class="quantity">
            <button class="quantity__button minus no-js-hidden" name="minus" type="button" onclick="qty_minus_updateItemById('{{ item.id }}', {{item.quantity}} ,'cart-items')">
              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
              {% render 'icon-minus' %}
            </button>
            <input class="quantity__input qv-quantity"
                   type="number"
                   name="quantity"
                   id="mini_Quantity-{{ section.id }}"
                   min="1"
                   value="{{item.quantity}}"
                   form="{{ product_form_id }}"
                   >
            <button class="quantity__button plus no-js-hidden" name="plus" type="button" onclick="qty_plus_updateItemById('{{ item.id }}', {{item.quantity}} ,'cart-items')">
              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
              {% render 'icon-plus' %}
            </button>
          </quantity-input>
          
          
        </div>
        <div class="cart__item-title-right">
          <a onclick="updateItemById('{{ item.id }}','0','cart-items')" href="javascript:void(0)" id="myBtn" ItemId="{{ item.id }}" line="{{forloop.index}}" class="btn-remove cart-item--remove-link" data-cartitem-remove>  {% render 'icon-remove' %}</a>
          <a href="#" class="save-whishlist">Save to wishlist</a>
          <div class="cart__item-sub">
            <span class="cart__price-old hide">{{ item.original_line_price | money }}</span>
            <span class="cart__price-new">{{ item.final_line_price | money }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>	
  {% endfor %}
</div>
<div class="bottom-part">
  <div class="subtotal">
    <strong>Subtotal </strong>
    
    <div>
      {%- if cart.cart_level_discount_applications.size > 0 -%}
      <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
        {%- for discount in cart.cart_level_discount_applications -%}
        <li class="discounts__discount discounts__discount--end">
          {%- render 'icon-discount' -%}
          {{ discount.title }}
          (-{{ discount.total_allocated_amount | money }})
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
    
    <strong class="amount price" total="{{ cart.total_price  | money }}">{{ cart.total_price  | money }}</strong>
  </div>

  <div class="buttons">
    <a href="/cart" class="button-custom button">{{ 'general.cart.view' | t }}</a>

  </div>
<!--   <a href="/checkout" class="button-custom button">{{ 'sections.cart.checkout' | t }}</a> -->
  
  <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form">
    <button class="button button--primary button--full-width" name="checkout">{{ 'sections.cart.checkout' | t }}</button>
  </form>
  <a href="/collections" class="link button-label">{{ 'general.continue_shopping' | t }}</a>


</div>
{% for block in section.blocks %}
   {% case block.type %}
{%- when 'icontext' -%}

<div class="mini_cart_icon_text">
  <div><img src="{{block.settings.image | img_url:"100x"}}"><h2>{{block.settings.title}}</h2></div>
  <div><img src="{{block.settings.image2 | img_url:"100x"}}"><h2>{{block.settings.title2}}</h2></div>
 <div><img src="{{block.settings.image3 | img_url:"100x"}}"><h2>{{block.settings.title3}}</h2></div>
</div>

 {%- endcase -%}
  {% endfor%}
{% else %}

<div class="empty-cart-items">
  {% for block in section.blocks %}
   {% case block.type %}
   {%- when 'shop_button' -%}
  <a role="link" aria-disabled="true" class="button button--primary" href="{{block.settings.button_link}}" class=""> {{block.settings.button_label}}</a>
  
  
  {%- when 'emptycarttext' -%}
  <div class="empty-cart-info">
    <h2>{{block.settings.heading}}</h2>
    {{block.settings.text}}
  </div>
  
  {%- endcase -%}
  {% endfor%}
</div>


{% endif %}

{% for block in section.blocks %}
{% case block.type %}


{%- when 'recentview' -%}

 <ul class="minicart_you_may_also" role="list">
    {% assign allreadyInCart = cart.items | map: "product" | map: "id" | uniq  %}
   {% assign count = 1 %}
   <p>You might like:</p>
      {% for product in collections[block.settings.recomended_col].products limit: 100%}
   {% if product.available %}
     {% unless allreadyInCart contains product.id  %}
   
        <li class="grid__item" {{count}} {% if count == 1 %} style="display:block" {% else %}style="display:none"{% endif %}>
          <div class="main_prod_wrap">
            <div class="minicart_may_also-img"><img src="{{product.featured_image | img_url:'100x'}}" ></div>
            <div class="minicart_may_also_info">
              <a href="{{product.url}}"><h5>{{product.title}}</h5></a>
              <p>Brand: {{product.vendor}}</p>
              <div class="minicart_var_addtocart">
               {%- form 'product', product, id: 'mini_product-form-installment', class: 'installment caption-large' -%}
                <div class="minicart_variant" var_default_id="{{ product.selected_or_first_available_variant.id }}">
                  <div>Size: <span class="sizedata">{{ product.selected_or_first_available_variant.title }}</span></div>
                  {% if product.has_only_default_variant %}
                  <input name="id" value="{{ product.selected_or_first_available_variant.id }}" type="hidden">
                  {% else %}
                  <select name="id" id="select_{{product.id}}" >
                    {% for variant in product.variants %}
                    {% if variant.available %}
                    <option value="{{ variant.id }}">{{ variant.title }}</option>
                    {% endif %}
                    {% endfor%}
                  </select>
                  {% endif %}

                </div>
                
                
                <div class="minicart_add_to_cart">
                   {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
                 <input type="submit" data-handle="{{product.handle}}" class="mini-add-button product-form__submit button button--full-width button--secondary" value="Add">
                </div>
                 {%- endform -%}
              </div>
            </div>
          </div>
        </li>
   {% assign count = count | plus: 1 %}
    {% endunless %}
   {% endif %}
      {% endfor %}
    </ul>
{%- endcase -%}
{% endfor%}

</div>




{% schema %}
  {
    "name": "Cart items",
    "settings": [
{
          "type": "text",
          "id": "freeshipping",
          "label": "Free shipping threshold"
        }
],
  "blocks": [
    {
      "type": "shop_button",
      "name": "Shop buttons",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    },
{
      "type": "icontext",
      "name": "Icon text",
      "limit": 1,
      "settings": [
		{
        "type": "header",
        "content": "Icon text 1"
      },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
		{
        "type": "header",
        "content": "Icon text 2"
      },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
		{
        "type": "header",
        "content": "Icon text 3"
      },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title3",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        }
      ]
    },
    {
      "type": "recentview",
      "name": "Recent view",
      "limit": 1,
      "settings": [
        {
          "type": "collection",
          "id": "recomended_col",
          "label": "Recommended collection"
        }
      ]
    },
	{
      "type": "emptycarttext",
      "name": "Empty cart Text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Your Cart is Empty",
          "label": "Heading"
        },
		{
          "type": "richtext",
          "id": "text",
          "default": "<p>You're missing out is all we're saying.</p>",
          "label": "Sub heading"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}