<style>
  .col_left{justify-content: flex-start;}
   .col_center{justify-content: center;}
   .col_right{justify-content: flex-end;}
</style>


<div class="background-{{ section.settings.background_style }} no-heading {{ section.settings.sec_class }}">
  <div class="page-width ">
    <div class="section_width">
      <ul class="grid col_{{section.settings.column_alignment}} grid--1-col{% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--4-col-desktop{% elsif section.blocks.size > 3 and section.settings.image_width == 'full' %} grid--2-col-tablet{% else %} grid--3-col-tablet{% endif %}"role="list">
        {%- for block in section.blocks -%}
        <li  style="width:{{block.settings.button_width}}%;" class="button_item" {{ block.shopify_attributes }}>
          {% if block.settings.button_text != blank %}
          <a style="width:100%;  padding: 15px 20px;   min-width: 100%;" class="button {% if block.settings.button_class == blank%}button--primary {% else %}{{block.settings.button_class}} {% endif %} color-{{ block.settings.color_scheme }}" aria-disabled="true" role="link" href="{{block.settings.button_link}}">{{block.settings.button_text}}</a>  
          {% endif %}
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Buttons section",
  "class": "spaced-section spaced-section--full-width buttons-section",
  "tag": "section",
  "settings": [

    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.multicolumn.settings.background_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
	{
        "type": "range",
        "id": "section_width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Section Width",
        "default": 100
      },
	{
      "type": "text",
      "id": "sec_class",
      "label": "Section Class"
    }
  ],
  "blocks": [
    {
      "type": "buttons",
      "name": "Buttons",
      "settings": [
{
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
	  "default": "Button"
    },
        {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
        },
{
        "type": "range",
        "id": "button_width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Button Width",
        "default": 20
      },
{
      "type": "text",
      "id": "button_class",
      "label": "Button Class",
	  "default": "button--primary"
    },
{
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.collage.blocks.image.settings.color_scheme.options__1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.collage.blocks.image.settings.color_scheme.options__2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.collage.blocks.image.settings.color_scheme.options__3.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.collage.blocks.image.settings.color_scheme.options__4.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.collage.blocks.image.settings.color_scheme.options__5.label"
            }
          ],
          "default": "background-1",
          "label": "t:sections.collage.blocks.image.settings.color_scheme.label",
          "info": "t:sections.collage.blocks.image.settings.color_scheme.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Buttons section",
      "blocks": [
        {
          "type": "buttons"
        },
        {
          "type": "buttons"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
