<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
  
  .sticky_logo,.logo_and_humberger .humbergerfor_sticky{
  display:none;
  }
  
  {% if section.settings.enable_sticky_header %}
  
  @media screen and (min-width: 750px) {
    div#shopify-section-header {
      position: sticky!important;
      top: 0;
      z-index: 3;
      transform: translateY(0);
    }

    .shopify-section-header-sticky .header__icons-inner {
      order: 2;
    }

    .shopify-section-header-sticky .re-order-link {
      order: 1;
    }

    .shopify-section-header-sticky .header__icons {
      justify-content: space-between!important;
      align-items: center!important;
      flex-wrap: wrap;
      flex-direction: unset!important;
    }

    .shopify-section-header-sticky .re-order-link .re-order {
      margin: 0!important;
      padding-right: 30px;
      padding-right: 10px;
    }
    .shopify-section-header-sticky .sticky_logo{
      display:block;
    }

    .shopify-section-header-sticky .main-logo{
      display:none;
    }
    .shopify-section-header-sticky header {
      padding-top: 12px!important;
      padding-bottom: 12px!important;
    }

    .shopify-section-header-sticky  .header__icons {
      width: 325px;
    }

    .shopify-section-header-sticky  .logo_and_humberger {
      width: 15%;
      display: flex;
      justify-content: space-between;
      margin-right: 5%;
    }

    .shopify-section-header-sticky .search-area-con {
      width: 50%!important;
    }
    .shopify-section-header-sticky .humbergerfor_sticky{
      display:block
    }
  }

  {% endif %}
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor"/>
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header header--{{ section.settings.logo_position }} page-width{% if settings.menu != blank %} header--has-menu{% endif %}">
    {%- if settings.menu != blank -%}
    <header-drawer data-breakpoint="tablet">
      <details id="Details-menu-drawer-container" class="menu-drawer-container">
        <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
          <span>
            {% render 'icon-hamburger' %}
            {% render 'icon-close' %}
          </span>
        </summary>
        <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
          <div class="menu-drawer__inner-container">
            <div class="menu-drawer__navigation-container">
              <nav class="menu-drawer__navigation">
                <ul class="menu-drawer__menu list-menu" role="list">
                  {%- for link in settings.menu.links -%}
                  <li>
                    {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                        {{ link.title | escape }}
                        {% render 'icon-arrow' %}
                        {% render 'icon-caret' %}
                      </summary>
                      <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            {% render 'icon-arrow' %}
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                            <li>
                              {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                              {%- else -%}
                              <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                  {{ childlink.title | escape }}
                                  {% render 'icon-arrow' %}
                                  {% render 'icon-caret' %}
                                </summary>
                                <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                  <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                    {% render 'icon-arrow' %}
                                    {{ childlink.title | escape }}
                                  </button>
                                  <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                    {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                    {%- endfor -%}
                                  </ul>
                                </div>
                              </details>
                              {%- endif -%}
                            </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                    {%- else -%}
                    <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                      {{ link.title | escape }}
                    </a>
                    {%- endif -%}
                  </li>
                  {%- endfor -%}
                </ul>
              </nav>
              <div class="menu-drawer__utility-links">
                {%- if shop.customer_accounts_enabled -%}
                <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                  {% render 'icon-account' %}
                  {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                </a>
                {%- endif -%}
                <ul class="list list-social list-unstyled" role="list">
                  {%- if settings.social_twitter_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                      {%- render 'icon-twitter' -%}
                      <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                    </a>
                  </li>
                  {%- endif -%}
                  {%- if settings.social_facebook_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                      {%- render 'icon-facebook' -%}
                      <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                    </a>
                  </li>
                  {%- endif -%}
                  {%- if settings.social_pinterest_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                      {%- render 'icon-pinterest' -%}
                      <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                    </a>
                  </li>
                  {%- endif -%}
                  {%- if settings.social_instagram_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                      {%- render 'icon-instagram' -%}
                      <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                    </a>
                  </li>
                  {%- endif -%}
                  {%- if settings.social_tiktok_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                      {%- render 'icon-tiktok' -%}
                      <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                    </a>
                  </li>
                  {%- endif -%}
                  {%- if settings.social_tumblr_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                      {%- render 'icon-tumblr' -%}
                      <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                    </a>
                  </li>
                  {%- endif -%}
                  {%- if settings.social_snapchat_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                      {%- render 'icon-snapchat' -%}
                      <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                    </a>
                  </li>
                  {%- endif -%}
                  {%- if settings.social_youtube_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                      {%- render 'icon-youtube' -%}
                      <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                    </a>
                  </li>
                  {%- endif -%}
                  {%- if settings.social_vimeo_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                      {%- render 'icon-vimeo' -%}
                      <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                    </a>
                  </li>
                  {%- endif -%}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </details>
    </header-drawer>
    {%- endif -%}

    {%- if section.settings.logo_position == 'top-center' or settings.menu == blank -%}
    <details-modal class="header__search">
      <details>
        <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
          <span>
            <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-search"></use>
            </svg>
            <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-close"></use>
            </svg>
          </span>
        </summary>
            <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
              <div class="modal-overlay"></div>
              <div class="search-modal__content" tabindex="-1">
                {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                  {%- endif -%}
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                    <div class="field">
                      <input class="search__input field__input"
                             id="Search-In-Modal-1"
                             type="search"
                             name="q"
                             value=""
                             placeholder="{{ 'general.search.search' | t }}"
                             {%- if settings.predictive_search_enabled -%}
                             role="combobox"
                             aria-expanded="false"
                             aria-owns="predictive-search-results-list"
                             aria-controls="predictive-search-results-list"
                             aria-haspopup="listbox"
                             aria-autocomplete="list"
                             autocorrect="off"
                             autocomplete="off"
                             autocapitalize="off"
                             spellcheck="false"
                             {%- endif -%}
                             >
                      <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                      <input type="hidden" name="options[prefix]" value="last">
                      <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                        <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                          <use href="#icon-search"></use>
                        </svg>
                      </button>
                    </div>

                      {%- if settings.predictive_search_enabled -%}
                      <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                        <div class="predictive-search__loading-state">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </div>

                      <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                      {%- endif -%}
                      </form>
                    {%- if settings.predictive_search_enabled -%}
                    </predictive-search>
                  {%- endif -%}
                  <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                    <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-close"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </details>
              </details-modal>
            {%- endif -%}
    
    
            <div class="logo_and_humberger">
              <div class="humbergerfor_sticky" id="humbergerfor_sticky">

                <svg width="32" height="32" class="humber" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.76406 8.93132C5.35169 8.93132 5.0174 8.59703 5.0174 8.18465C5.0174 7.77228 5.35169 7.43799 5.76406 7.43799H27.3025C27.7149 7.43799 28.0492 7.77228 28.0492 8.18465C28.0492 8.59703 27.7149 8.93132 27.3025 8.93132H5.76406ZM5.76406 24.7262C5.35169 24.7262 5.0174 24.3919 5.0174 23.9795C5.0174 23.5672 5.35169 23.2329 5.76406 23.2329H27.3025C27.7149 23.2329 28.0492 23.5672 28.0492 23.9795C28.0492 24.3919 27.7149 24.7262 27.3025 24.7262H5.76406ZM5.0174 16.0821C5.0174 16.4945 5.35169 16.8288 5.76406 16.8288H27.3025C27.7149 16.8288 28.0492 16.4945 28.0492 16.0821C28.0492 15.6697 27.7149 15.3354 27.3025 15.3354H5.76406C5.35169 15.3354 5.0174 15.6697 5.0174 16.0821Z" fill="white"/>
                </svg>

                <svg width="32" height="32" class="close_humb" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.6387 22.7664C21.9501 23.0779 22.455 23.0779 22.7664 22.7664C23.0779 22.455 23.0779 21.9501 22.7664 21.6387L17.1277 16L22.7664 10.3613C23.0779 10.0499 23.0779 9.54498 22.7664 9.23356C22.455 8.92215 21.9501 8.92215 21.6387 9.23356L16 14.8723L10.3613 9.23356C10.0499 8.92215 9.54498 8.92215 9.23356 9.23356C8.92215 9.54498 8.92215 10.0499 9.23356 10.3613L14.8723 16L9.23356 21.6387C8.92215 21.9501 8.92215 22.455 9.23356 22.7664C9.54498 23.0779 10.0499 23.0779 10.3613 22.7664L16 17.1277L21.6387 22.7664Z" fill="white"/>
                </svg>


              </div>
              {%- if request.page_type == 'index' -%}
              <h1 class="header__heading">
                {%- endif -%}
                <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
                  {%- if section.settings.logo != blank -%}
                  {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                  <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                       src="{{ section.settings.logo | img_url: image_size }}"
                       loading="lazy"
                       class="header__heading-logo main-logo"
                       width="{{ section.settings.logo.width }}"
                       height="{{ section.settings.logo.height }}"
                       alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                       >

                  {%- if section.settings.sticky_logo  != blank -%}
                  <img srcset="{{ section.settings.sticky_logo | img_url: image_size }} 1x, {{ section.settings.sticky_logo | img_url: image_size, scale: 2 }} 2x"
                       src="{{ section.settings.sticky_logo | img_url: image_size }}"
                       loading="lazy"
                       class="header__heading-logo sticky_logo"
                       width="{{ section.settings.sticky_logo.width }}"
                       height="{{ section.settings.sticky_logo.height }}"
                       alt="{{ section.settings.sticky_logo.alt | default: shop.name | escape }}"
                       >
                  {% endif %}

                  {%- else -%}
                  <span class="h2">{{ shop.name }}</span>
                  {%- endif -%}
                </a>
                {%- if request.page_type == 'index' -%}
              </h1>
              {%- endif -%}
            </div>

            <div class="search-area-con">
            <div class="search-focused-wrap">
                <div class="header__search">

                  <div class="search-focused" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
                    <div class="modal-overlay"></div>
                    <div class="search-modal__content" tabindex="-1">

                      <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">

                        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                          <div class="field">
                            <input class="search__input field__input"
                                   id="Search-In-Modal-1"
                                   type="search"
                                   name="q"
                                   value=""
                                   placeholder="{{ 'general.search.search' | t }}"
                                   role="combobox"
                                   aria-expanded="false"
                                   aria-owns="predictive-search-results-list"
                                   aria-controls="predictive-search-results-list"
                                   aria-haspopup="listbox"
                                   aria-autocomplete="list"
                                   autocorrect="off"
                                   autocomplete="off"
                                   autocapitalize="off"
                                   spellcheck="false"

                                   >
                            <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                            <input type="hidden" name="options[prefix]" value="last">
                            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                              <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                                <use href="#icon-search"></use>
                                  </svg>
                                </button>
                              </div>


                            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                              <div class="predictive-search__loading-state">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                              </div>
                            </div>

                            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>

                            </form>

                          </predictive-search>


                        </div>
                    </div>
                    </div>
                  </div>
            
            {%- if settings.menu != blank -%}
            <nav class="header__inline-menu">
              <ul class="list-menu list-menu--inline" role="list">
                {%- for link in settings.menu.links -%}
                
                <li terget_megamenu="{{ link.title | handle }}" class="mega_parent{% if link.links.size > 0 %}{% endif %}" linksize="{{link.links.size}}"><a href="{{link.url}}" class="header__menu-item list-menu__item link focus-inset"><span>{{link.title}}</span></a></li>
                {% comment %}
                <li terget_megamenu="{{ link.title | handle }}">
                  {%- if link.links != blank -%}
                  <details-disclosure>
                    <details id="Details-HeaderMenu-{{ forloop.index }}">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active -%} class="header__active-menu-item"{%- endif -%}>{{ link.title | escape }}</span>{% render 'icon-caret' %}
                        </summary>
                        
                        <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
                          {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                            <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                              {{ childlink.title | escape }}
                            </a>
                            {%- else -%}
                            <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                              <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                {{ childlink.title | escape }}
                                {% render 'icon-caret' %}
                              </summary>
                              <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                                {%- endfor -%}
                              </ul>
                            </details>
                            {%- endif -%}
                          </li>
                          {%- endfor -%}
                        </ul>
                       
                        </details>
                      </details-disclosure>
                    {%- else -%}
                    <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                      <span {%- if link.current -%} class="header__active-menu-item"{%- endif -%}>{{ link.title | escape }}</span>
                </a>
                      {%- endif -%}
                      </li>
                    {% endcomment %}
                    
                    {%- endfor -%}
                    </ul>
                </nav>
              {%- endif -%}

              </div>
                <div class="header__icons">
                  <div class="header__icons-inner">
                    {% comment %}
                    <a href="#" class="header__icon header__icon--whishlist link focus-inset">
                      <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7838 5.33092C18.7479 2.35362 16.307 -0.0318057 13.3296 0.000853003C11.8945 -0.00423552 10.5198 0.55977 9.49998 1.55266C8.47997 0.55977 7.10418 -0.00424054 5.66124 0.000818978C2.69302 -0.0318057 0.252057 2.35362 0.216189 5.33092C0.214964 6.55818 0.639276 7.74069 1.41603 8.68183C1.47039 8.74589 2.82852 10.2664 5.23074 12.9541L7.84296 15.8764L9.03034 17.2046C9.28084 17.4848 9.71937 17.4847 9.96978 17.2044L17.5679 8.70057C18.3607 7.74069 18.785 6.55818 18.7838 5.3379L18.7838 5.33092ZM9.99653 2.88202C10.7987 1.85475 12.0309 1.25624 13.3343 1.26081C15.6243 1.23576 17.4945 3.06223 17.5238 5.34261C17.5239 6.26853 17.2016 7.16563 16.6122 7.8798L9.49986 15.8393L8.78232 15.0367L6.17019 12.1145L6.16824 12.1123C3.89573 9.56972 2.41874 7.9161 2.38193 7.8728C1.79763 7.16473 1.47524 6.26627 1.47614 5.33912C1.50359 3.06409 3.37451 1.23575 5.65654 1.26078C6.96904 1.25624 8.20125 1.85475 9.00345 2.88202C9.25568 3.20503 9.7443 3.20503 9.99653 2.88202Z" fill="white"/>
                      </svg>
                      <div class="cart-count-bubble">0</div>
                    </a>
                    {% endcomment %}

                    <a href="#swym-wishlist" class="swym-wishlist header__icon header__icon--whishlist link focus-inset">
                      <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7838 5.33092C18.7479 2.35362 16.307 -0.0318057 13.3296 0.000853003C11.8945 -0.00423552 10.5198 0.55977 9.49998 1.55266C8.47997 0.55977 7.10418 -0.00424054 5.66124 0.000818978C2.69302 -0.0318057 0.252057 2.35362 0.216189 5.33092C0.214964 6.55818 0.639276 7.74069 1.41603 8.68183C1.47039 8.74589 2.82852 10.2664 5.23074 12.9541L7.84296 15.8764L9.03034 17.2046C9.28084 17.4848 9.71937 17.4847 9.96978 17.2044L17.5679 8.70057C18.3607 7.74069 18.785 6.55818 18.7838 5.3379L18.7838 5.33092ZM9.99653 2.88202C10.7987 1.85475 12.0309 1.25624 13.3343 1.26081C15.6243 1.23576 17.4945 3.06223 17.5238 5.34261C17.5239 6.26853 17.2016 7.16563 16.6122 7.8798L9.49986 15.8393L8.78232 15.0367L6.17019 12.1145L6.16824 12.1123C3.89573 9.56972 2.41874 7.9161 2.38193 7.8728C1.79763 7.16473 1.47524 6.26627 1.47614 5.33912C1.50359 3.06409 3.37451 1.23575 5.65654 1.26078C6.96904 1.25624 8.20125 1.85475 9.00345 2.88202C9.25568 3.20503 9.7443 3.20503 9.99653 2.88202Z" fill="white"/>
                      </svg>
                      <div class="swym-anchor-badge show-badge cart-count-bubble " id="wishlist_item_count"data-count="">0</div>
                    </a>
                    

                    {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if settings.menu != blank %} small-hide{% endif %}">
                      {% render 'icon-account' %}
                      <span class="visually-hidden">
                        {%- liquid 
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
                      </span>
                    </a>
                    {%- endif -%}

                    <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
                      {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
                      <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                      {%- if cart != empty -%} {%- endif -%}
                      <div class="cart-count-bubble">
                        {%- if cart.item_count < 100 -%}
                        <span id="CartCount" aria-hidden="true">{{ cart.item_count }}</span>
                        {%- endif -%}
                        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                      </div>

                    </a>

                  </div>
                  <div class="re-order-link">
                    <a href="/account" class="re-order">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_3835_11573)">
                        <path d="M10.6338 21C4.94912 21 0.334473 16.3107 0.334473 10.534C0.334473 4.75728 4.94912 0 10.6338 0C16.3185 0 21.0001 4.75728 21.0001 10.534C21.0001 16.3107 16.3185 21 10.6338 21ZM10.6338 1.35922C5.68479 1.35922 1.67205 5.50485 1.67205 10.534C1.67205 15.5631 5.68479 19.6408 10.6338 19.6408C15.5829 19.6408 19.5956 15.5631 19.5956 10.534C19.6625 5.50485 15.5829 1.35922 10.6338 1.35922Z" fill="#F5694D"/>
                        <path d="M18.4587 5.0291H14.5128C14.3122 5.0291 14.1116 4.82522 14.1116 4.62133C14.1116 4.41745 14.3122 4.21357 14.5128 4.21357H17.723C17.9237 4.21357 18.1243 4.00968 18.1243 3.8058V0.611624C18.1243 0.407741 18.3249 0.203857 18.5256 0.203857C18.7262 0.203857 18.9269 0.407741 18.9269 0.611624V4.62133C18.86 4.82522 18.6593 5.0291 18.4587 5.0291Z" fill="#F5694D"/>
                        <path d="M18.4587 5.30097H14.5128C14.1784 5.30097 13.9109 5.02913 13.9109 4.68932C13.9109 4.34951 14.1784 4.07767 14.5128 4.07767H17.723C17.7899 4.07767 17.8567 4.00971 17.8567 3.94175V0.611651C17.8567 0.271845 18.1243 0 18.4587 0C18.7931 0 19.0606 0.271845 19.0606 0.611651V4.62136C19.1274 4.96117 18.8599 5.30097 18.4587 5.30097ZM14.5128 4.48544C14.4459 4.48544 14.379 4.5534 14.379 4.62136C14.379 4.68932 14.4459 4.75728 14.5128 4.75728H18.4587C18.5255 4.75728 18.5924 4.68932 18.5924 4.62136V0.611651C18.5924 0.475728 18.3249 0.475728 18.3249 0.611651V3.87379C18.3249 4.21359 18.0574 4.48544 17.723 4.48544H14.5128Z" fill="#F5694D"/>
                        <path d="M1.67208 13.5242L5.48419 14.4756C5.68482 14.5436 5.81858 14.7475 5.7517 14.9514C5.68482 15.1552 5.48419 15.2912 5.28355 15.2232L2.20712 14.4077C2.00648 14.3397 1.80584 14.4756 1.73896 14.6795L0.936416 17.8057C0.869537 18.0096 0.6689 18.1455 0.468263 18.0776C0.267626 18.0096 0.133868 17.8057 0.200747 17.6019L1.13705 13.7281C1.27081 13.5921 1.47145 13.4562 1.67208 13.5242Z" fill="#F5694D"/>
                        <path d="M0.60203 18.4175C0.535151 18.4175 0.468272 18.4175 0.468272 18.4175C0.133877 18.3495 -0.0667602 18.0097 0.000118815 17.6699L0.936424 13.7961C1.0033 13.6602 1.07018 13.5243 1.20394 13.3883C1.3377 13.3204 1.53834 13.2524 1.67209 13.3204L5.55107 14.2718C5.68483 14.3398 5.81859 14.4078 5.95235 14.5437C6.01923 14.6796 6.08611 14.8835 6.01923 15.0194C5.95235 15.1553 5.88547 15.2913 5.75171 15.4272C5.61795 15.4951 5.41732 15.5631 5.28356 15.4951L2.20713 14.6796C2.14025 14.6796 2.14025 14.6796 2.14025 14.6796C2.14025 14.6796 2.07337 14.6796 2.07337 14.7476L1.27082 17.8738C1.20394 18.0097 1.13706 18.1456 1.0033 18.2816C0.869546 18.3495 0.735788 18.4175 0.60203 18.4175ZM1.60521 13.7961C1.53834 13.7961 1.47146 13.8641 1.47146 13.8641L0.535151 17.7379C0.535151 17.8058 0.535151 17.8738 0.60203 17.8738C0.668909 17.8738 0.735788 17.8738 0.735788 17.8058L1.53834 14.6796C1.60521 14.5437 1.67209 14.4078 1.80585 14.2718C1.93961 14.2039 2.14025 14.1359 2.274 14.2039L5.35044 15.0194C5.41732 15.0194 5.4842 15.0194 5.4842 14.9515C5.4842 14.8835 5.4842 14.8155 5.41732 14.8155L1.60521 13.7961Z" fill="#F5694D"/>
                        <path d="M10.6336 14.3397C8.5604 14.3397 6.88843 12.6406 6.88843 10.5339C6.88843 8.42706 8.5604 6.72803 10.6336 6.72803C12.7069 6.72803 14.3789 8.42706 14.3789 10.5339C14.3789 12.6406 12.7069 14.3397 10.6336 14.3397ZM10.6336 8.08725C9.29607 8.08725 8.22601 9.17463 8.22601 10.5339C8.22601 11.8931 9.29607 12.9805 10.6336 12.9805C11.9712 12.9805 13.0413 11.8931 13.0413 10.5339C13.0413 9.17463 11.9712 8.08725 10.6336 8.08725Z" fill="#F5694D"/>
                      </g>
                      <defs>
                        <clipPath id="clip0_3835_11573">
                          <rect width="21" height="21" fill="white"/>
                        </clipPath>
                      </defs>
                    </svg> 
                      Re-Order
                    </a>
                  </div>
                </div>
                </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>
{% comment %}   {% endcomment %}
{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
         
 
{% javascript %}
            var megamenu_container = document.getElementsByClassName("mega-menu-container")[0];
            var firstMegamenu = document.getElementById('shopify-section-mega-menu-1');
            var secMegamenu = document.getElementById('shopify-section-mega-menu-2');
            var trdMegamenu = document.getElementById('shopify-section-mega-menu-3');
            var fortMegamenu = document.getElementById('shopify-section-mega-menu-4');
            var fivMegamenu = document.getElementById('shopify-section-mega-menu-5');
            var sixtMegamenu = document.getElementById('shopify-section-mega-menu-6');
             var humberger = document.getElementById("humbergerfor_sticky");
            
             var firstlinav = document.getElementById('main_nav_1');
            var seclinav = document.getElementById('main_nav_2');
            var trdlinav = document.getElementById('main_nav_3');
            var fortlinav = document.getElementById('main_nav_4');
            var fivlinav = document.getElementById('main_nav_5');
            var sixtlinav = document.getElementById('main_nav_6');
            
            
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }


      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
                                                   megamenu_container.classList.add('do-sticky');
                                                   megamenu_container.classList.remove('not-sticky');
                                                  
      this.closeMenuDisclosure();
	
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
                                                   megamenu_container.classList.add('do-sticky');
                                                   megamenu_container.classList.remove('not-sticky');
                                                  
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
                                                   megamenu_container.classList.remove('do-sticky','active');
                                                   megamenu_container.classList.add('not-sticky');
                                                 firstMegamenu.classList.remove('active');
                                                  secMegamenu.classList.remove('active');
                                                    trdMegamenu.classList.remove('active');
                                                  fortMegamenu.classList.remove('active');
                                                   fivMegamenu.classList.remove('active');
                                                   sixtMegamenu.classList.remove('active');
                                                   humberger.classList.remove('open');
                                                   firstlinav.classList.remove('active');
                                                   seclinav.classList.remove('active');
                                                   trdlinav.classList.remove('active');
                                                   fortlinav.classList.remove('active');
                                                   fivlinav.classList.remove('active');
                                                   sixtlinav.classList.remove('active');
                                                   
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
            {
      "type": "image_picker",
      "id": "sticky_logo",
      "label": "Logo for sticky"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
   
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
