{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>


<style>
  .collection .col_tab ul#swym_main_collection_product_grid {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
  .collection .col_tab ul#swym_main_collection_product_grid  li:first-child:after{
    display:none;
  
  }
  
</style>

  <!-- Include html in the body -->
<div class="collection page-width ">
  <div class="col_tab">
    <ul id="swym_main_collection_product_grid" class="swiper-wrapper grid grid--2-col product-grid grid--3-col-tablet grid--one-third-max grid--4-col-desktop grid--quarter-max negative-margin">

    </ul>
  </div>
</div>
<script type="text/javascript">
//   window.SwymCallbacks = window.SwymCallbacks || [];
//   window.SwymCallbacks.push(function(swat) {
//     var wishlistContainerElement = document.querySelector("#swym-wishlist-render-container");
//     var queryParams = swat.utils.getEncodedAsObject(window.location.search);
//     // Contains queryParams["lid"];
//     swat.ui.renderWishlistInContainer(wishlistContainerElement, queryParams);
//   });
</script>
  
<script>
  if(!window.SwymCallbacks){window.SwymCallbacks = [];}
  window.SwymCallbacks.push(function(){
    _swat.fetchWrtEventTypeET(function(products){

      let productitem="";
      products.forEach(function(product, index) { 
        console.log(product);

        productitem += `<li class="grid__item"> <div class="card-wrapper"><div class="card-information"><div class="card-information__wrapper">
                      <div class="caption-with-letter-spacing light">${product.bt}</div>
                      <h3 class="card-information__text h5">
                      <a href="${product.du}" class="full-unstyled-link">
                      ${product.dt}
                        </a>
                        </h3>
                      <div class="price " data-wg-notranslate="manual">
                      <div>
                      <div class="price__regular">
                      <span class="price-item price-item--regular">
                      HK${Shopify.formatMoney(product.pr * 100.00)}
                        </span>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                      <div class="card card--product card--outline" tabindex="-1">
                      <div class="card__inner">
                      <div>
                      <div class="media media--transparent media--square media--hover-effect">
                      <img src="${product.iu}" 
                      alt="${product.dt}" 
                      class="motion-reduce" 
                      width="1000" height="1000">
                        </div>
                        </div>

                        </div>
                        </div>

                        </div></li>`


      });

      const main = document.getElementById('swym_main_collection_product_grid');
      main.innerHTML = productitem;

      //        console.log(productitem);

    }, _swat.EventTypes.addToWishlist);
  });
</script>

{% schema %}
  {
    "name": "Section name",
"class":"spaced-section featured-collection",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
