{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<div class="page-widthh{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
  {% assign cartTotal = cart.total_price %}
  {% assign cartthreshhold = settings.freeshipping | times:100.00 %}
  {% assign percentmainvalue = cartTotal | divided_by: cartthreshhold %}
  {% assign mainPercent = percentmainvalue | times: 100.00 %}
  {% assign needAmmount = cartTotal  | minus: cartthreshhold %}
  <style>
    .w3-light-grey{
      color: #000!important;
      background-color: #f1f1f1!important;
      margin: 10px 0;
    }
    .w3-green, 
    .w3-hover-green:hover {
      color: #fff!important;
      background-color: #F5694D!important;
      height:6px;

    }
    .progress-warp {
      margin: 30px 20px;
      text-align:center;
      overflow:hidden;
    }
  </style>


  <div>
    <div class="cart__footer">
      {%- if section.settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea class="text-area text-area--resize-vertical field__input" name="note" form="cart" id="Cart-note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
        </cart-note>
      {%- endif -%}

      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'subtotal' -%}
              <div class="js-contents" {{ block.shopify_attributes }}>
                <div class="progress-warp">
                  <p>Buy more, Save more</p>
                  <div class="w3-light-grey">
                    <div class="w3-green" style="width:{{mainPercent}}%"></div>
                  </div>

                  <div> <span class="progress-bar-money">{% if cartTotal >= cartthreshhold %}{{cartthreshhold | money }} Done, You are eligible for {% else %}Spend {{  needAmmount | money |remove:'-' }} more to receive{% endif %}</span> FREE SHIPPING!</div>
                </div>
                <div class="totals">
                  <h3 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h3>
                  <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                </div>

                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--end">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <small class="tax-note caption-large rte">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </small>
              </div>
        {%- when 'icontext'-%}
        
        <div class="subtotal_icontext">
          {% if block.settings.image1 != blank %}
          <div class="image__text">
          <img src="{{ block.settings.image1 | img_url: '550x' }}">
            <a href="{{block.settings.link1}}"><h3>{{ block.settings.title1 | escape }}</h3></a>
          </div>
          {% endif %}
          
           {% if block.settings.image2 != blank %}
          <div class="image__text">
          <img src="{{ block.settings.image2 | img_url: '550x' }}">
            <a href="{{block.settings.link2}}"><h3>{{ block.settings.title2 | escape }}</h3></a>
          </div>
          {% endif %}
          
           {% if block.settings.image3 != blank %}
          <div class="image__text">
          <img src="{{ block.settings.image3 | img_url: '550x' }}">
            <a href="{{block.settings.link3}}"><h3>{{ block.settings.title3 | escape }}</h3></a>
          </div>
          {% endif %}
          
        </div>
        
            {%- else -%}
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <noscript>
                  <button type="submit" class="cart__update-button button button--secondary" form="cart">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                  {{ 'sections.cart.checkout' | t }}
                </button>
              </div>
              <a href="{{ routes.all_products_collection_url }}" class="underlined-link">{{ 'general.continue_shopping' | t }}</a>
        {% comment %}
              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
        {% endcomment %}
          {%- endcase -%}
        {% endfor %}

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

{% javascript %}
  class CartNote extends HTMLElement {
    constructor() {
      super();

      this.addEventListener('change', debounce((event) => {
        const body = JSON.stringify({ note: event.target.value });
        fetch(`${routes.cart_update_url}`, {...fetchConfig(), ...{ body }});
      }, 300))
    }
  }

  customElements.define('cart-note', CartNote);
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper cart-main",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "default": false,
      "label": "t:sections.main-cart-footer.settings.show_cart_note.label"
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
{
      "type": "icontext",
      "name": "Icon text",
      "settings": [
		{
        "type": "header",
        "content": "icon 1"
      },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title1",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
		{
          "type": "url",
          "id": "link1",
          "label": "Link"
   		},
{
        "type": "header",
        "content": "icon 2"
      },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
		{
          "type": "url",
          "id": "link2",
          "label": "Link"
   		},
{
        "type": "header",
        "content": "icon 3"
      },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title3",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
		{
          "type": "url",
          "id": "link3",
          "label": "Link"
   		}
      ]
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
