{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

{% capture breadcrumb %}
{% render 'breadcrumb' %}

<style>
  .swiper.main-collection-page_Swiper img {
    width: 100%;
  }
  .swiper {
    overflow: hidden;
    padding: 0 20px;
  }
  .collection_page_linklist h2 {
    font-size: 15px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    text-decoration: none!important;
  }

  .collection_page_linklist a {
    text-decoration: none!important;
  }
  .collection_page_linklist {
    margin: 0;
    padding: 0;
  }
</style>
     

<div class="main-collection--page left-side-menu">  
  <ul class="level_1">
  {% for link in linklists[section.settings.main_link_list].links %} 
    <li>  
      <a href="{{ link.url }}">{{ link.title }}</a>
      <ul class="level_2">
        {% for sublink in link.links %}
        <li>  <a href="{{ sublink.url }}">{{ sublink.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>

{% endcapture %}
{% capture banner %}
 <div class="cols-banner">
  {%- if section.settings.image != blank -%}
      <img class="{%- if section.settings.image_2 != blank -%}banner__media-for-desktop{%- endif -%}" srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                   {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                   {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                   {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                   {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                   {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                   {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                   {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                   {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
           sizes="(min-width: 750px) 50vw, 100vw"
           src="{{ section.settings.image | img_url: '1500x' }}"
           loading="lazy"
           alt="{{ section.settings.image.alt | escape }}"
           width="{{ section.settings.image.width }}"
           height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}">
      {% endif %}
      {%- if section.settings.image_2 != blank -%}
      <img class="banner__media-for-mobile" srcset="{%- if section.settings.image_2.width >= 375 -%}{{ section.settings.image_2 | img_url: '375x' }} 375w,{%- endif -%}
                     {%- if section.settings.image_2.width >= 750 -%}{{ section.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
                     {%- if section.settings.image_2.width >= 1100 -%}{{ section.settings.image_2 | img_url: '1100x' }} 1100w,{%- endif -%}
                     {%- if section.settings.image_2.width >= 1500 -%}{{ section.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
                     {%- if section.settings.image_2.width >= 1780 -%}{{ section.settings.image_2 | img_url: '1780x' }} 1780w,{%- endif -%}
                     {%- if section.settings.image_2.width >= 2000 -%}{{ section.settings.image_2 | img_url: '2000x' }} 2000w,{%- endif -%}
                     {%- if section.settings.image_2.width >= 3000 -%}{{ section.settings.image_2 | img_url: '3000x' }} 3000w,{%- endif -%}
                     {%- if section.settings.image_2.width >= 3840 -%}{{ section.settings.image_2 | img_url: '3840x' }} 3840w,{%- endif -%}
                     {{ section.settings.image_2 | img_url: 'master' }} {{ section.settings.image_2.width }}w"
             sizes="(min-width: 750px) 50vw, 100vw"
             src="{{ section.settings.image_2 | img_url: '1500x' }}"
             loading="lazy"
             alt="{{ section.settings.image_2.alt | escape }}"
             width="{{ section.settings.image_2.width }}"
             height="{{ section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio }}">
      {% endif %}     
      <div class="info">
        <h1 class="title cols-banner-title title--primary">{{ section.settings.title | escape }}</h1>
        <div class="cols-banner-description">{{section.settings.text}}</div>
      </div>

    </div>
{% endcapture %}


<div class="show-in-mobile">
    {% if section.settings.image != blank %}
    {{banner}}
    {% else %}
    <h1 class="title title--primary">{{ section.settings.title | escape }}</h1>
    {% endif %}
    </div>


<div class="page-width listCollection">
  <div class="left-section">
    <div class="show-in-desktop">
      {{breadcrumb}}
    </div>
  </div>

  <div class="right-section" >
    <div class="show-in-desktop">
      {% if section.settings.image != blank %}
      {{banner}}
      {% else %}
      <h1 class="title title--primary">{{ section.settings.title | escape }}</h1>
      {% endif %}
    </div>
    <div class="show-in-mobile">
      {{breadcrumb}}
    </div>





    {% for block in section.blocks %}
    <div class="swiper main-collection-page_Swiper">
      <ul class="swiper-wrapper collection_page_linklist" role="list">
        {% for link in linklists[block.settings.main_link_list].links %} 
        <li class="swiper-slide">
          {% if link.type == 'collection_link' %}
          {% assign linkCollection = link.object %}          
          <div class="featured-prod-item">
            <a href="{{ link.url }}">
              {% if linkCollection.image %}
              <img src="{{ linkCollection.image.src | collection_img_url: 'large' }}" alt="{{ linkCollection.title | escape  }}" />
              {% else %}
              <img src="{{ linkCollection.products.first.featured_image.src | product_img_url: 'large' }}" alt="{{ linkCollection.title | escape  }}" />
              {% endif %}
              <h2>{{ link.title }}</h2>
            </a>
          </div>
          {% endif %}
        </li> 
        {% endfor %}
      </ul>
      <div class="swiper-scrollbar"></div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>
    {% endfor %}



  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "spaced-section",
  "settings": [
{
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
{
      "type": "image_picker",
      "id": "image_2",
      "label": "Mobile image"
    },
{
          "type": "link_list",
          "id": "main_link_list",
          "label": "Link list"
        },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
	{
          "type": "text",
          "id": "text",
          "default": "“Here at whiskers n paws...",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
{
          "value": "none",
          "label": "None"
        },
        {
          "value": "accent-1",
          "label": "t:sections.main-list-collections.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.main-list-collections.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.main-list-collections.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.main-list-collections.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.main-list-collections.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.main-list-collections.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "image_padding",
      "default": false,
      "label": "t:sections.main-list-collections.settings.image_padding.label"
    }
  ],
"blocks": [
    {
      "type": "link_list",
      "name": "Linklist",
      "settings": [
		{
          "type": "link_list",
          "id": "main_link_list",
          "label": "Link list"
        }
		]
	}
]
}
{% endschema %}
