{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>
<script src="{{ 'cart-wishlist-widget.js' | asset_url }}" ></script>

<style>
  .collection .col_tab ul#swym_main_collection_product_grid {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
  .collection .col_tab ul#swym_main_collection_product_grid  li:first-child:after{
    display:none;
  
  }
  ul#swym_main_collection_product_grid .disable {
    pointer-events: none;
}
  ul#swym_main_collection_product_grid .button {
    order: 3;
    margin-top: 10px;
}
</style>

  <!-- Include html in the body -->
<div class="collection page-width ">
  <div class="col_tab">
    <ul id="swym_main_collection_product_grid" class="swiper-wrapper grid grid--2-col product-grid grid--4-col-tablet grid--one-third-max grid--4-col-desktop grid--quarter-max negative-margin">

    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
"class":"spaced-section featured-collection",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
