{% comment %}
** Mega menu - homepage partial **
- Static section
- Uses blocks
- Must be enabled through general settings
{% endcomment %}


{% assign Level_1 = "" %}
{% assign Level_2 = "" %}
{% assign Level_3 = "" %}
{% assign parentLink = section.settings.parent | handle %}
{% for link in linklists[settings.menu].links %}
 {% assign linkHandle = link.title | handle %}
                  {% if linkHandle == parentLink %}
{% assign Level_1 = linklists[settings.menu].links.size %}
{% for sublink in link.links %}
{% assign Level_2 = link.links.size  %}
{% for sub_sublink in sublink.links %}
{% assign Level_3 = sublink.links.size %}
{% endfor%}
{% endfor%}
{% endif %}
{% endfor%}

{% if section.blocks.size > 0 %}{% endif %}
  <div class="dropdown_container mega-menu mega-menu-3" data-dropdown="{{ section.settings.parent | handleize }}">
    <div class="dropdown menu">
      <div class="dropdown_content {% if section.blocks < 4 %}dropdown_narrow{% endif %}">
         <div class="dropdown_column block_{{section.blocks.size}}" {{ block.shopify_attributes }}>
           
           
          {% for block in section.blocks %} 
           {% if block.type == 'menus' %}
            
           {% if section.settings.parent != blank %}
           <div class="dropdown_column__menu">
             {% assign parentLink = section.settings.parent | handle %}

             {% for link in linklists[settings.menu].links %}
             {% assign linkHandle = link.title | handle %}
             {% if linkHandle == parentLink %}
             <div class="" parentLink='{{parentLink}}'>
               <ul class="leve_1 {% if Level_3 == blank %} no-submenu {% endif %}" sublinklsize="{{link.links.size}}">   
                 {% for sublink in link.links %}
                 <li> 
                   <a href="{{ sublink.url }}"><h3>{{ sublink.title }}</h3></a>
                   <ul class="level_2">
                     {% for sub_sublink in sublink.links %}
                     <li>  <a href="{{ sub_sublink.url }}">{{ sub_sublink.title }}</a></li>
                     {% endfor %}
                   </ul>
                 </li>

                 {% endfor%}
               </ul>
             </div>
             {% endif %}
             {% endfor %}


           </div>
           {% endif %}
           
          
           {% elsif block.type == 'column' %}
             <div class="mega-menu-image-con">
               {% comment %}Image with caption and link{% endcomment %}
               {% if block.settings.image_bottom != nil or block.settings.image_caption_bottom != blank %}
               <div class="mega-menu__image-caption-link" aspectRatio="{{ block.settings.image_bottom.aspect_ratio | times: 100 }}">
                 <a {% if block.settings.button_link != blank %}href="{{ block.settings.button_link }}"{% endif %} >

                   {% include 'image-element',imageHight: section.settings.height, image: block.settings.image_bottom, alt: block.settings.image_bottom.alt %}




                   {% if block.settings.image_caption_bottom != blank %}
                   <p class="mega-menu__image-caption">{{ block.settings.image_caption_bottom }}</p>
                   {% endif %}
                 </a>
               </div>
               {% endif %}

               {% comment %}Richtext{% endcomment %}
               {% if block.settings.richtext_bottom %}
               <div class="mega-menu__richtext">
                 {{ block.settings.richtext_bottom }}
               </div>
               {% endif %}

               {% comment %}button{% endcomment %}
               {% if block.settings.button_link != blank %}
               <a class="more-btn" href="{{block.settings.button_link}}">{{block.settings.btn_text}}</a> 
               {% endif %}
             </div>
            
          {% elsif block.type == 'products'%}
          <div class="dropdown_column__products">
           {% for link in linklists[settings.menu].links %} 
             {% assign linkHandle = link.title | handle %}
             {% if linkHandle == parentLink %}
               {% if link.type == 'collection_link' %}
                 {% assign linkCollection = link.object %}
                 <div class="featured-prod-item" linkCollectionHandle="{{linkCollection.handle}}">
                   <ul id="product-grid" data-id="{{ section.id }}" class="grid grid--3-col negative-margin product-grid">

                     {% for product in collections[linkCollection.handle].products limit:3 %}
                     <li class="grid__item">
                       {% render 'product-card',
                      product_card_product: product,
                       media_size: "adapt",
                       show_secondary_image: false,
                       add_image_padding: false,
                       show_vendor: false,
                       show_image_outline: true,
                       show_rating: false
                       %}
                     </li>
                     {% endfor %}
                   </ul>
                 </div>
              {%- for product in collection.products -%}
      {% render 'new-quickview-content' ,product_card_product: product%}
      {%- endfor -%}
               {% endif %}
             {% endif %}
           {% endfor%}
           </div>
           
           
           {% elsif block.type == 'col_img' %}
           <div class="dropdown_column__col-img">
             {% for link in linklists[settings.menu].links %} 
               {% assign linkHandle = link.title | handle %}
               {% if linkHandle == parentLink %}
                 {% for sub_link in link.links %}
                   {% if sub_link.type == 'collection_link' %}
                     {% assign linkCollection = sub_link.object %}          
                     <div class="featured-prod-item">
                       <a href="{{ sub_link.url }}">
                         {% if linkCollection.image %}
                         <img src="{{ linkCollection.image.src | collection_img_url: 'large' }}" alt="{{ linkCollection.title | escape  }}" />
                         {% else %}
                         <img src="{{ linkCollection.products.first.featured_image.src | product_img_url: 'large' }}" alt="{{ linkCollection.title | escape  }}" />
                         {% endif %}
                       </a>
                     </div>
                   {% endif %}
                 {% endfor %}
               {% endif %}
             {% endfor%}
             <a class="button btn shopallbutton" href="{{block.settings.button_link}}">{{block.settings.btn_text}} </a>
           </div>
           
           
           
          {% endif %}
             {% endfor %}
           
        
        </div>
        
      </div>
    </div>
  </div>

{% comment %}
  <ul class="mobile-mega-menu hidden" data-mobile-dropdown="{{ section.settings.parent | handleize }}">
    {% for block in section.blocks %}
      <div>
      {% if block.type == 'column' %}
        {% if block.settings.richtext_top %}
          <li class="mobile-mega-menu_block mega-menu__richtext">
            {{ block.settings.richtext_top }}
          </li>
        {% endif %}

        {% if block.settings.image_top != nil or block.settings.image_caption_top != blank %}
          <li class="mobile-mega-menu_block">
            <a {% if block.settings.image_link_top != blank %}href="{{ block.settings.image_link_top }}"{% endif %} >
             
                {% include 'image-element', image: block.settings.image_top, alt: block.settings.image_top.alt %}
             
              {% if block.settings.image_caption_top != blank %}
                <p class="mobile-mega-menu__image-caption">{{ block.settings.image_caption_top }}</p>
              {% endif %}
            </a>
          </li>
        {% endif %}

        {% if block.settings.menu_1 != blank %}
          <li class="mobile-mega-menu_block sublink">
            {% if block.settings.menu_1_link == 'http://' or block.settings.menu_1_link == '' or block.settings.menu_1_link == '/' or block.settings.menu_1_link == 'https://' or block.settings.menu_1_link == '#' or block.settings.menu_1_link == blank %}
              <a data-no-instant href="{{ block.settings.menu_1_link }}" class="parent-link--false">
                {{ linklists[block.settings.menu_1].title }} <span class="right icon-down-arrow"></span>
              </a>
            {% else %}
              <a data-no-instant href="{{ block.settings.menu_1_link }}" class="parent-link--true">
                {{ linklists[block.settings.menu_1].title }} <span class="right icon-down-arrow"></span>
              </a>
            {% endif %}
            <ul>
              {% for sublink in linklists[block.settings.menu_1].links %}
                <li>
                  <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}

        

        {% if block.settings.image_bottom != nil or block.settings.image_caption_bottom != blank %}
          <li class="mobile-mega-menu_block"  >
            <a {% if block.settings.image_link_bottom != blank %}href="{{ block.settings.image_link_bottom }}"{% endif %} >

                {% include 'image-element', image: block.settings.image_bottom, alt: block.settings.image_bottom.alt %}
              
              {% if block.settings.image_caption_bottom != blank %}
                <p class="mobile-mega-menu__image-caption">{{ block.settings.image_caption_bottom }}</p>
              {% endif %}
            </a>
          </li>
        {% endif %}

        {% if block.settings.richtext_bottom %}
          <li class="mobile-mega-menu_block"  >
            {{ block.settings.richtext_bottom }}
          </li>
        {% endif %}
      {% endif %}
      </div>
    {% endfor %}
  </ul>
{% endcomment %}


{% schema %}

{
  "name": "Mega menu 3",
  "class": "mega-menu-section",
  "max_blocks": 2,
  "settings": [
/**{
          "type": "link_list",
          "id": "main_link_list",
          "label": "Main Menu",
		  "default": "main-menu"
        },**/
    {
      "type": "text",
      "id": "parent",
      "label": "Link title",
      "info": "The mega menu will appear below this parent link"
    },
	{
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "header",
          "content": "Bottom content"
        },
        {
          "type": "image_picker",
          "id": "image_bottom",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_caption_bottom",
          "label": "Image caption"
        },
        
        {
          "type": "richtext",
          "id": "richtext_bottom",
          "label": "Text area"
        },
	{
      "type": "text",
      "id": "btn_text",
      "label": "Button text"
    },{
          "type": "url",
          "id": "button_link",
          "label": "link"
        }
      ]
    },
 {
      "type": "products",
      "name": "Products",
      "settings": []
},
 {
      "type": "col_img",
      "name": "Collection img:2nd level",
      "settings": [
            {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
			"default": "Shop All Brands"
            },{
            "type": "url",
            "id": "button_link",
            "label": "link"
            }
		]
},
 {
      "type": "menus",
      "name": "Menus",
      "settings": []
}
  ],
  "default": {
    "blocks": [
      
      {
        "type": "column"
      }
    ]
  }
}

{% endschema %}
