<style>

  #shopify-section-{{section.id}} .section_width{
    width:{{section.settings.section_width}}%;
    margin: 0 auto;
  }

</style>
{% comment %}
<div class="section_width four-icons-sec">
<div class="image-with-text {% if section.settings.full_width %}image-with-text--full-width{% else %}page-width{% endif %} color-scheme-{{ section.settings.color_scheme }}">
  {%- for block in section.blocks -%}
  {% case block.type %}
  {%- when 'icon_text' -%}
  <div class="icon__text_item">
    <span>
      <img src="{{ block.settings.img | img_url: '50x' }}"alt="{{ block.settings.img.alt | escape }}">
    </span>
    {{block.settings.svg_icon1_text}}
  </div>
  {%- endcase -%}
  {%- endfor -%}
</div>
</div>
{% endcomment %}


<section class="section_width product-tabs color-accent-1 {% if section.settings.full_width %} image-with-text--full-width {% else %} page-width{% endif %} color-scheme-{{ section.settings.color_scheme }} gradient">
 {% comment %}
  product.metafields.icon.better_appetite
  product.metafields.accentuate.improved_digestion
  product.metafields.accentuate.reduce_ibs_ibd_symptoms
  product.metafields.icon.decreased_allergy
  product.metafields.icon.healthy_skin_coat
  product.metafields.accentuate.joint_health
  
  json
  "better_appetite": false,
  "improved_digestion": true,
  "reduce_ibs_ibd_symptoms": true,
  "decreased_allergy": true,
  "healthy_skin_coat": false,
  "joint_health": true
  {% endcomment %}
  
      <div>{{ product.metafields.my_fields.product_info.value.tab_1_title }}</div>
    <div>{{ product.metafields.my_fields.product_info.value.tab_4_content }}</div>

{% assign iconsArray = product.metafields.my_fields.description %}
{{iconsArray.icons}}
<div class="above_description_icon_text">
  {%- for block in section.blocks -%}
  
  {% assign blockTitleHandle = block.settings.title | handle %}

  
  {% if blockTitleHandle contains 'better-appetite' and iconsArray.icons.better_appetite %}
  <div class="under_media_icon_text_item text-center"> 
   <div>
  {% comment %}  {% render 'product-feature-icons', icon: block.settings.icons %}{% endcomment %}
      {{block.settings.icons}}
    </div>
    <h2>{{ block.settings.title }}</h2> 
  </div>
 {% endif %}
  
  {% if blockTitleHandle contains 'improved-digestion' and iconsArray.icons.improved_digestion %}
  <div class="under_media_icon_text_item text-center"> 
   <div>
  {% comment %}  {% render 'product-feature-icons', icon: block.settings.icons %}{% endcomment %}
      {{block.settings.icons}}
    </div>
    <h2>{{ block.settings.title }}</h2> 
  </div>
  {% endif %}
  
  {% if blockTitleHandle contains 'reduced-symptoms' and iconsArray.icons.reduce_ibs_ibd_symptoms %}
  <div class="under_media_icon_text_item text-center"> 
   <div>
  {% comment %}  {% render 'product-feature-icons', icon: block.settings.icons %}{% endcomment %}
      {{block.settings.icons}}
    </div>
    <h2>{{ block.settings.title }}</h2> 
  </div>
  {% endif %}
 
  
  {% if blockTitleHandle contains 'decreased-food' and iconsArray.icons.decreased_allergy %}
  <div class="under_media_icon_text_item text-center"> 
 <div>
  {% comment %}  {% render 'product-feature-icons', icon: block.settings.icons %}{% endcomment %}
      {{block.settings.icons}}
    </div>
    <h2>{{ block.settings.title }}</h2> 
  </div>
  {% endif %}
 
  
  {% if blockTitleHandle contains 'healthy-skin' and iconsArray.icons.healthy_skin_coat %}
  <div class="under_media_icon_text_item text-center"> 
  <div>
  {% comment %}  {% render 'product-feature-icons', icon: block.settings.icons %}{% endcomment %}
      {{block.settings.icons}}
    </div>
    <h2>{{ block.settings.title }}</h2> 
  </div>
  {% endif %}
 
  
  {% if blockTitleHandle contains 'joint-health' and iconsArray.icons.accentuate.joint_health %}
  <div class="under_media_icon_text_item text-center"> 
  <div>
  {% comment %}  {% render 'product-feature-icons', icon: block.settings.icons %}{% endcomment %}
      {{block.settings.icons}}
    </div>
    <h2>{{ block.settings.title }}</h2> 
  </div>
  {% endif %}
 
  
 
 
  
  {% endfor %} 
</div>

</section>


{% schema %}
  {
    "name": "Product feature icons",
 "class": "spaced-section spaced-section--full-width",
    "settings": [
	{
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.image-with-text.settings.color_scheme.options__1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-with-text.settings.color_scheme.options__2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-with-text.settings.color_scheme.options__3.label"
        },
        {
          "value": "accent-1",
          "label": "t:sections.image-with-text.settings.color_scheme.options__4.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.image-with-text.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.image-with-text.settings.color_scheme.label"
    },
	{
        "type": "range",
        "id": "section_width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Section Width",
        "default": 100
      },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    }
	],
	"blocks": [
    {
      "type": "icon_text",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "settings": [
		/** {
          "type": "image_picker",
          "id": "img",
          "label": "Image (.png) format"
        },

		{
      "type": "select",
      "id": "icons",
      "options": [
        {
          "value": "icon_1",
          "label": "Icon 1"
        },
        {
          "value": "icon_2",
          "label": "Icon 2"
        },
        {
          "value": "icon_3",
          "label": "Icon 3"
        },
        {
          "value": "icon_4",
          "label": "Icon 4"
        },
        {
          "value": "icon_5",
          "label": "Icon 5"
        },
        {
          "value": "icon_6",
          "label": "Icon 6"
        }
      ],
      "default": "icon_1",
      "label": "Icon 1"
    },**/
 {
          "type": "liquid",
          "id": "icons",
          "label": "icon in SVG format"
        },
		{
          "type": "text",
          "id": "title",
		  "default": "Free Delivery",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product feature icons",
      "blocks": [
        {
          "type": "icon_text"
        },
		{
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        }
      ]
    }
  ],
"templates": [
    "product"
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
