{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
    
    {%- if block.settings.adapt_height_first_image and block.settings.image != blank -%}
    {%- style -%}
    
    @media screen and (max-width: 749px) {
    #Banner-{{ block.id }}::before,
    #Banner-{{ block.id }} .banner__media::before,
    #Banner-{{ block.id }}:not(.banner--mobile-bottom) .banner__content::before {
    padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
    content: '';
    display: block;
    }
    }

    @media screen and (min-width: 750px) {
    #Banner-{{ block.id }}::before,
    #Banner-{{ block.id }} .banner__media::before {
    padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
    content: '';
    display: block;
    }
    }
    {%- endstyle -%}
    {%- endif -%}

    {%- style -%}
    #Banner-{{ block.id }}::after {
    opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
    }
    {%- endstyle -%}

    <div id="Banner-{{ block.id }}" class="swiper-slide {% if block.settings.two_col_banner %} two-block-section  {% endif %} banner banner--{{ block.settings.image_height }}{% if block.settings.stack_images_on_mobile and block.settings.image != blank and block.settings.image_2 != blank %} banner--stacked{% endif %}{% if block.settings.adapt_height_first_image and block.settings.image != blank %} banner--adapt{% endif %}{% if block.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">



      {%- if block.settings.image != blank -%}
      <div class="banner__media media{% if block.settings.image == blank and block.settings.image_2 == blank %} placeholder{% endif %}{% if block.settings.image_2 != blank %} banner__media-for-desktop{% endif %}">
        <img
             srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                     {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                     {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                     {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                     {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                     {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                     {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                     {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                     {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
             sizes="{% if block.settings.image_2 != blank and block.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif block.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
             src="{{ block.settings.image | img_url: '1500x' }}"
             loading="lazy"
             alt="{{ block.settings.image.alt | escape }}"
             width="{{ block.settings.image.width }}"
             height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
             {% if block.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}
             >
      </div>
      {%- elsif block.settings.image_2 == blank -%}
      <div class="banner__media media{% if block.settings.image == blank and block.settings.image_2 == blank %} placeholder{% endif %}{% if block.settings.image_2 != blank %} banner__media-for-desktop{% endif %}">
        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
      {%- endif -%}
      {%- if block.settings.image_2 != blank -%}
      <div class="banner__media media{% if block.settings.image != blank %}  banner__media-for-mobile {% endif %}">
        <img
             srcset="{%- if block.settings.image_2.width >= 375 -%}{{ block.settings.image_2 | img_url: '375x' }} 375w,{%- endif -%}
                     {%- if block.settings.image_2.width >= 750 -%}{{ block.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
                     {%- if block.settings.image_2.width >= 1100 -%}{{ block.settings.image_2 | img_url: '1100x' }} 1100w,{%- endif -%}
                     {%- if block.settings.image_2.width >= 1500 -%}{{ block.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
                     {%- if block.settings.image_2.width >= 1780 -%}{{ block.settings.image_2 | img_url: '1780x' }} 1780w,{%- endif -%}
                     {%- if block.settings.image_2.width >= 2000 -%}{{ block.settings.image_2 | img_url: '2000x' }} 2000w,{%- endif -%}
                     {%- if block.settings.image_2.width >= 3000 -%}{{ block.settings.image_2 | img_url: '3000x' }} 3000w,{%- endif -%}
                     {%- if block.settings.image_2.width >= 3840 -%}{{ block.settings.image_2 | img_url: '3840x' }} 3840w,{%- endif -%}
                     {{ block.settings.image_2 | img_url: 'master' }} {{ block.settings.image_2.width }}w"
             sizes="{% if block.settings.image != blank and block.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif block.settings.image != blank %}50vw{% else %}100vw{% endif %}"
             src="{{ block.settings.image_2 | img_url: '1500x' }}"
             loading="lazy"
             alt="{{ block.settings.image_2.alt | escape }}"
             width="{{ block.settings.image_2.width }}"
             height="{{ block.settings.image_2.width | divided_by: block.settings.image_2.aspect_ratio }}"
             {% if block.settings.image != blank %}class="banner__media-image-half"{% endif %}
             >
      </div>
      {%- endif -%}
      
    
      <div class="banner__content banner__content--{{ block.settings.desktop_text_box_position }} page-width" style="background: {{ block.settings.bg_color }}">
        <div class="banner__box color- {% if block.settings.button_label_1 == blank %} banner__buttons--hide{% endif %}" >

          
          <h2 class="{% if block.settings.banner_content %}small-hide{% endif%} banner__heading {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}" {{ block.shopify_attributes }}>
            <span>{{ block.settings.heading | escape }}</span>
          </h2>

          <div class=" {% if block.settings.banner_content %}small-hide{% endif%} banner__text" {{ block.shopify_attributes }}>
            <span>{{ block.settings.text | escape }}</span>
          </div>
         

          <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
            {%- if block.settings.button_label_1 != blank -%}
            <a{% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}</a>
            {%- endif -%}
            {%- if block.settings.button_label_2 != blank -%}
            <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
            {%- endif -%}
          </div>

        </div>
      </div>
     



    </div>

    {% endfor %}
  </div>

{% if section.settings.showpagination %}
  <!-- If we need pagination -->
 
  <div class="swiper-pagination"></div> 
  {% endif %}
{% if section.settings.shownextPrevButtom %}
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  {% endif %}
{% if section.settings.showscrollbar %}
  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
  {% endif %}

</div>
{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
{
      "type": "checkbox",
      "id": "showpagination",
      "default": true,
      "label": "Show pagination"
    },
{
      "type": "checkbox",
      "id": "showscrollbar",
      "default": true,
      "label": "Show Scrollbar"
    },
{
      "type": "checkbox",
      "id": "shownextPrevButtom",
      "default": true,
      "label": "Show previous and next button"
    }
],
  "blocks": [
    {
	"type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Mobile image"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    /***{
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "Adapt section height to image size"
    },***/
{
      "type": "checkbox",
      "id": "two_col_banner",
      "default": false,
      "label": "2 Column Banner Blocks"
    },
    {
      "type": "select",
      "id": "desktop_text_box_position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:sections.image-banner.settings.desktop_text_box_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_text_box_position.options__2.label"
        },
        {
          "value": "flex-end",
          "label": "t:sections.image-banner.settings.desktop_text_box_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_text_box_position.label"
    },
	{
      "type": "checkbox",
      "id": "banner_content",
      "label": "Hide Banner Content On Mobile"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
	{
        "type": "color",
        "id": "bg_color",
        "label": "Banner Background Color"
      },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-banner.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.image-banner.settings.color_scheme.label",
      "info": "t:sections.image-banner.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    },
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "medium",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__2.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-banner.blocks.heading.settings.heading_size.label"
     },
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
      
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
		{
        "type": "color",
        "id": "btn_bg_color",
        "default": "rgba(255, 255, 255, 0.5)", 
        "label": "t:settings_schema.colors.settings.colors_accent_2.label"
      },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
	]
	}
      
  ],
  "presets": [
    {
      "name": "Slidshow",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}
